:root {
  --black: #000000;
  --white: #ffffff;
  --primary-font: Inter, sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-light: 300;
}

$global-xs: 0;
$global-sm: 600px;
$global-md: 900px;
$global-lg: 1200px;
$global-xl: 1536px;
$global-xxl: 1920px;